<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is an index page</h1>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/dashboard">dashboard</a>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>RemIt</title>
    <link rel="stylesheet" href="css/style_index.css" />
    <link rel="shortcut icon" href="images/RemItT-removebg-preview.png" type="image/x-icon">
  </head>
  <body>
    <main>
      <div class="big-wrapper light">
        <img src="images/shape.png" alt="" class="shape" />

        <header>

          <div class="container">
            <div class="logo">
              <img src="images/RemItT-removebg-preview.png" alt="Logo" />
              <!-- <h3>Remit</h3> -->
            </div>

            <div class="links">
              <ul>
                <li><a href="#" class="btn">Sign up</a></li>
                <li><a href="#" class="btn">Sign in</a></li>
                <li><div class="bottom-area">
                  <div class="container">
                    <button class="toggle-btn">
                      <i class="far fa-moon"></i>
                      <i class="far fa-sun"></i>
                    </button>
                  </div>
                </div></li>
              </ul>
            </div>

            <div class="overlay"></div>

            <div class="hamburger-menu">
              <div class="bar"></div>
            </div>
          </div>
        </header>

        <div class="showcase-area">
          <div class="container">
            <div class="left">
              <div class="container1">
                <i class="fas fa-quote-left"></i>
                <h2 class="quote"></h2>
                <hr>
                <p class="author"></p>
                <div class="buttons">
                    <button class="next"><i class="fas fa-arrow-circle-right" style="color: white;"></i></button>
                </div>
            </div>
              <!-- <div class="cta">
                <a href="#" class="btn">Get started</a>
              </div> -->
            </div>

            <div class="right">
              <img src="images/demo1.png" alt="Person Image" class="person" />
            </div>
          </div>
        </div>

        
      </div>
    </main>

    <!-- JavaScript Files -->

    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
