<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <div id="container" style="height: 25%;">
       <header>Login</header>
       <form method="post">
          <fieldset>
             <br/>
             <input type="text" name="username" id="username" placeholder="Username" required autofocus>
             <br/><br/>
             <input type="password" name="password" id="password" placeholder="Password" required>
             <br/><br/>
             <label for="submit"></label>
             <input type="submit" name="submit" id="submit" value="REGISTER">
             <p>New user: <a href="#">Register</a></p>
             <p>Forgot Password? <a href="#">Click here</a></p>
          </fieldset>
       </form>
    </div>
 </body>
</html>