<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./header') %>
</head>
<body>
    <div id="container">
       <header>Register new account</header>
       <form method="post" action="/register">
          <fieldset>
             <br/>
             <input type="text" name="username" id="username" placeholder="Username" required autofocus>
             <br/><br/>
             <input type="email" name="email" id="email" placeholder="E-mail" required>
             <br/><br/>
             <input type="text" name="fname" id="username" placeholder="FirstName" required>
             <br/><br/>
             <input type="text" name="lname" id="username" placeholder="LastName" required>
             <br/><br/>
             <input type="password" name="password" id="password" placeholder="Password" required>
             <br/><br/>
             <input type="password" name="confirmpassword" id="confirm-password" placeholder="Confirm Password" required>
             <br/> <br/> <br/>
             <input type="submit" name="submit" id="submit" value="REGISTER">
             <p>Already a user: <a href="/login">Login</a></p>
          </fieldset>
       </form>
    </div>
 </body>
</html>