<!DOCTYPE html>
<html lang="en">

<head>
    <title>RemIT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/style_home.css">

</head>

<body id="body" class="body">
    <header>
        <i class="fa fa-bars menu-icon" id="menu-icon"></i>
        <a href="/"><i class="fa fa-home home-icon"></i></a>

        <form action="#" class="search-form">
            <i class="fa fa-search search-icon"></i>
            <input type="text" class="search-bar" id="search-bar" placeholder="Search">
        </form>
        <span class="add" id="add0">+</span>
        <span><a href="/pomodoro"><img src="../img/pomodoro-icon1.png" class="pomo-icon"></a></span> 
        <i class="fa fa-user profile"></i>
    </header>
