html {
  height: 100%;
  width: 100%;
}

body {
  /* background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShn1ZPR2YfC9obrUFznkdXer-OmyWx86xuWA&usqp=CAU") 
    no-repeat center center fixed; */
    background: url("https://previews.123rf.com/images/belchonock/belchonock1808/belchonock180817484/105991476-modern-clock-on-grey-background-top-view-time-management.jpg") 
    no-repeat center center fixed;
    /* background: url("https://images.unsplash.com/photo-1490724500206-cd5482e02b9e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8dGltZSUyMG1hbmFnZW1lbnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80") 
    no-repeat center center fixed; */
    /* background: url("https://media.istockphoto.com/photos/hourglass-flow-picture-id841445186?b=1&k=20&m=841445186&s=170667a&w=0&h=qHNbFMLTZPNj0eEJhPLIjLgNRUqhW4cCL6IdyU0MSYU=") 
    no-repeat center center fixed; */
  background-size: cover;
  font-family: 'Droid Serif', serif;
}

#container {
  background: rgba(3, 3, 55, 0.5);
  width: 18.75rem;
  height: 25rem;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header {
  text-align: center;
  vertical-align: middle;
  line-height: 3rem;
  height: 3rem;
  background: rgba(3, 3, 55, 0.7);
  font-size: 1.4rem;
  color: #d3d3d3;
}

fieldset {
  border: 0;
  text-align: center;
}

input[type="submit"] {
  background: rgba(3, 3, 55, 0.7);
  border: 0;
  display: block;
  width: 70%;
  margin: 0 auto;
  color: white;
  padding: 0.7rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: rgba(20, 20, 71, 0.7);
  color: white;
}

input {
  background: transparent;
  border: 0;
  border-left: 4px solid;
  border-color: #9698f5;
  padding: 10px;
  color: white;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: 0;
  background: #7274f5;
  border-radius: 1.2rem;
  border-color: transparent;
}

::placeholder {
  color: #d3d3d3;
}

/*Media queries */

@media all and (min-width: 481px) and (max-width: 568px) {
  #container {
      margin-top: 10%;
      margin-bottom: 10%;
  }
}
  @media all and (min-width: 569px) and (max-width: 768px) {
      #container {
          margin-top: 5%;
          margin-bottom: 5%;
      }
  }