/* ...new... */

.pro-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  margin-bottom: -50px;
  border-radius: 20px;
  overflow: hidden;
}

.skewed {
  width: 250px;
  height: 320px;
  margin: 50px 0 -50px 0;
  border-radius: 30px;
  transform: skewY(15deg);
  overflow: hidden;
}

#img {
  width: 100%;
  height: 100%;
  margin-top: -30px;
  transform: skewY(-30deg);
  background-image: url("https://images.unsplash.com/photo-1614436163996-25cee5f54290?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=442&q=80");
  background-size: 100%;
  background-position: center;
  transition: all 0.3s ease;
}

#img:hover {
  background-size: 110%;
}

.content {
  width: 300px;
  height: 130px;
  padding-top: 50px;
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h3 {
  font-size: 25px;
  color: #353535;
}

.content p {
  font-size: 16px;
  margin-top: 1px;
  color: #353535;
}

.pro-button {
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}
.pro-button a {
  text-decoration: none;
}
.pro-button p {
  color: #000;
}
.pro-button1 {
  background-color: white;
  color: black;
  border: 2px solid rgb(12, 12, 156);
}

.pro-button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
  border: 2px solid #000;
}

.pro-button1:hover p {
  color: rgb(12, 12, 156);
}
