p {
  font-size: 20px;
  margin-left: 80px;
  margin-top: -16px;
}

.head_task {
  margin-bottom: 39px;
}
.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 20px;
  margin-top: 5px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 3px;
  left: 2px;
  opacity: 0;
  position: absolute;
  top: 6px;
  font-weight: bold;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: rgb(21, 42, 158);
  border-color: rgb(21, 42, 158);
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

#circle-blue {
  background: aqua;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: 80px;
  margin-top: 20px;
}

#t {
  padding-left: 20px;
}

#circle-yellow {
  background: yellow;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: 250px;
  margin-top: -37px;
}
#circle-red {
  background: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: 250px;
  margin-top: -37px;
}
#circle-green {
  background: green;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: 250px;
  margin-top: -37px;
}

#pl {
  padding-left: 190px;
}

#di {
  margin-top: -43px;
  padding-left: 300px;
  font-style: italic;
}
#rd {
  margin-top: -43px;
  padding-left: 700px;
}

.card {
  position: absolute;
  left: 28%;
  top: 20%;
  border: 1px solid black;
  border-radius: 10px;
  height: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  background-color: white;
  z-index: 10;
  background-color:white;
  overflow: hidden;
}

.card-header {
  height: 40px;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
  font-size: 18px;
  font-weight: 900;
}

.card-body {
  min-height: 120px;
}

.add-project-label {
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
}

.add-project-input {
  width: 300px;
  height: 25px;
  border-radius: 5px;
  margin: 10px;
  margin-left: 20px;
  background-color: white;
}

.card-footer {
  margin-top: 30px;
  border-top: 1px solid gray;
  padding: 15px 20px;
  display: flex;
  justify-content: flex-end;
  min-height: 35px;
}

.add-project-button {
  border-radius: 5px;
  font-size: 15px;
  margin-right: 10px;
  font-weight: 700;
  padding: 8px 15px 8px 15px;
  border: 0.5px solid rgb(219, 214, 214);
  cursor: pointer;
}

.cancel-button {
  background-color: rgb(219, 214, 214);
  transition: border 1s ease;
  cursor: pointer;
}

.cancel-button:hover {
  border: 0.5px solid black;
  transition: border 1s ease;
}

.add-button {
  background-color: rgb(21, 42, 158);
  color: white;
  opacity: 0.5;
}

.overlay{
  height: 501px;
  position: absolute;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  z-index:0;
}

.add-collab{
  /* float: left; */
  margin-left:900px;
  position: relative;
  left: 140px;
  top: -50px;
  border-radius: 5px;
}

.dropbtn {
  /* background-color: #04AA6D; */
  /* color: white; */
  padding: 16px;
  /* position: relative; */
  margin-left:700px;
  margin-top: -100px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  margin-top: -100px;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  margin-top: -100px;
  background-color: #f1f1f1;
  margin-left:700px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #616361;}

.add-collab-icon{
  font-size: 18px;
}